@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body {
  color: #011F4B;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.social{
  margin: 0.1rem;
}

.input{
  padding: 0.2rem 0;
  font:inherit;
  border: 1px gray solid;
  border-radius: 5px;
  margin: 0.3rem 0 0 0;
  color: #011F4B;
}

.button{
  padding: 0.6rem 1rem;
  font:inherit;
  background-color: #011F4B;
  color: white;
  border: 1px #2a60b1 solid;
  border-radius: 5px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}